
html, body {
    width: 320px;
    height: 100%; /* 569px*/
    overflow: hidden;
    margin:0;
    padding:0;
}
.Background {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%; /* 569px*/
}



.HomePage,
.Page,
.SettingsPage,
.CameraPage,
.RoomPage,
.LightingPage,
.BlindPage,
.ClimatePage,
.SecurityPage,
.WaterPage,
.FirePage,
.SystemPage {
    margin-top: 20px;
    position: absolute;
    z-index: 2;
    display: none;
    margin-left: 12px;
    margin-right: 12px;
    width: 296px;
}

.Room{
	display: none;
    position: relative;
	height: 360px;
	overflow-y: scroll;
}

.RoomPage {
    z-index: 3;
    display: none;
}


.HomePage {
    display: block;
}

#MenuClimate,
#MenuLighting,
#MenuBlind,
#MenuSystem {
}

.General,
.Details,
.Center {
    float: left;
    display: none;
}

.Init {
    padding: 0px;
    margin: 0px;
    color: white;
}

.Status {
    position: relative;
    left: 0;
    top: 0;
    z-index: 2;
    margin: 0 10px 10px 10px;
    padding: 10px 0 0 0;
    width: 300px;
    height: 40px;
}

#FP_State,
#FP_StateAVR {
    color: #00FF5a;
}

#ButtonHome,
#ButtonWater,
#ButtonFire, 
#ButtonLock, 
#ButtonRoom {
    width: 56px;
    height: 56px;
}


.Dimmer {
    position: relative;
}
.Dimmer label{
    position: absolute;
    left: 60px;
    bottom: 5px;
   
}

#Time {
    color: white;
    font: 52px Verdana solid;
}

#Date {
    color: white;
    font: 32px Verdana solid;
}

.DateTime {
    width: 300px;
    text-align: center;
    margin-top: 50px;
}
.HeightWidth145 {
    height: 145px;
    width: 145px;
    float: left;
	border-radius: 20px;

}

.Height70Width145 {
    height: 70px;
    width: 145px;
}
.Weather {
    width: 300px;
    height: auto;
    margin-top: 20px;
}
.WaterDU img, 
.SecurityDD img, 
.SecurityMKD img{
    width: 40px;
    height: 40px;
    margin: 10px;
}
.WaterPage span, 
.SecurityPage span {
    color: #ff6a00;
}
.WaterDU span, 
.SecurityDD span,
.SecurityMKD span {
    color: #00FFFF;
}
.WaterDU, 
.SecurityDD,
.SecurityMKD {
    overflow: scroll;
    height: 340px;
    width: 100%;
}

.WeatherLeft {
    float: left;
    width: 150px;
    height: auto;
    position: relative;
    top: 80px;
}

.WeatherRight {
    float: left;
    width: 150px;
    height: auto;
    text-align: center;
}

#Pressure, 
#Humidity, 
#SpeedWind {
    font: 14px Verdana solid white;
    background: rgba(0, 0, 0, 0.50);
    padding: 7px;
    border-radius: 10px;
    color: #00FF00;
}

#Temperature {
    font: 46px Verdana solid white;
}

.MenuSecond {
    z-index: 2;
    width: 100%;
    height: 54px;
    position: fixed; /* Фиraсированное положение */
    left: 0;
    bottom: 54px; /* Левый нижний угол */
    background: black;
}

    .MenuSecond div {
        height: 100%;
        width: 33%;
        text-align: center;
        margin-top: 10px;
    }

        .MenuSecond div img {
            height: 20px;
            width: 20px;
        }

        .MenuSecond div label {
            font: 12px Verdana solid white;
            color: #ff6a00;
        }

#LightingGeneral, 
#BlindGeneral,
#ClimateGeneral, 
#WaterGeneral,
#SecurityGeneral,
#SecurityCenter,
#SecurityDetails,
#SystemGeneral {
    float: left;
    width: 105px;
}

#LightingDetails, 
#BlindDetails,
#ClimateDetails,
#WaterDetails,
#SystemDetails
 {
    float: right;
}


.Footer {
    z-index: 2;
    width: 100%;
    height: 54px;
    position: fixed; /* Фиксированное положение */
    left: 0;
    bottom: 0; /* Левый нижний угол */
    background: black;
}

    .Footer div {
        height: 100%;
        width: 25%;
        text-align: center;
        float: left;
        margin-top: 10px;
    }

        .Footer div img {
            height: 20px;
            width: 20px;
        }

        .Footer div label {
            font: 12px Verdana solid white;
            color: #00FFFF;
        }


        .Footer div:active {
            box-shadow: 0 0 10px rgba(255,255,255,0.7);
        }

.ButtonQuad {
    width: 145px;
    height: 145px;
    float: left;
}

.SettingsPage img:active {
    box-shadow: 0 0 10px rgba(255,255,255,0.7);
}

.RoomPage {
    overflow: scroll;
    background-color: #000000;
    width: 300px;
    height: 510px;
}

.Button:active {
    box-shadow: 0 0 10px rgba(255,255,255,0.7);
    
}

#RoomsOfFloor0,
#RoomsOfFloor1,
#RoomsOfFloor2,
#RoomsOfFloor3 {
    display: none;
}

.RoomName {
    width: 300px;
    height: 64px;
}

    .RoomName:active {
        box-shadow: 0 0 10px rgba(255,255,255,0.7);
    }

    /*.RoomName label {
        margin: 20px 30px 20px 30px;
        float: right;
    }

    .RoomName img {
        margin-left: 10px;
    }*/

    .RoomTable {
    width: 95%;
    margin: 0;
}
.FloorName {
    color: #FF6a00;
    float: right;
}
.System {
    position: relative;
    bottom: 0px;
    height: 240px;
    width: 160px;
    display: inline;
    float: right;
}

    .System img {
        margin-bottom: 5px;
    }

.TempActual {
    font: italic 80px Arial;
    color: white;
}

.TempSet {
    font: italic 44px Arial;
    color: white;
    color: #ff6a00;
}

.Right {
    padding: 0 0 24px 30px;
    float: right;
}

.FontMedium {
    font: normal 20px Verdana;
    color: #ff6a00;
}

.ClimateControl {
    position: relative;
    margin: 10px 0 10px 0;
    padding: 2px;
}

input[type=range] {
    position: absolute;
    left: -40px;
    top: 5px;
    -webkit-appearance: slider-vertical;
    height: 130px;

}
input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {

  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #000000;
  border-radius: 20px;
  border: 0.2px solid #010101;
  opacity: 0.5;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 30px;
  width: 30px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
 opacity: 0.9;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #FFFFFF;
  opacity: 0.1;
}

input[type=range]::-moz-range-track {

  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #FFFFFF;
  border-radius: 10px;
  border: 0.2px solid #010101;

}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 36px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}


input[type=radio]{display: none;}

.cond-mode{
 text-decoration:none; text-align:center; 
 padding:6px 15px; 
 border:solid 1px #000000; 
 -webkit-border-radius:6px;
 -moz-border-radius:6px; 
 border-radius: 6px; 
 font:17px "Times New Roman", Times, serif; 
 font-weight:bold; 
 color:#ababab; 
 background-color:#6e6e6e; 
 background-image: -moz-linear-gradient(top, #6e6e6e 0%, #000000 100%); 
 background-image: -webkit-linear-gradient(top, #6e6e6e 0%, #000000 100%); 
 background-image: -o-linear-gradient(top, #6e6e6e 0%, #000000 100%); 
 background-image: -ms-linear-gradient(top, #6e6e6e 0% ,#000000 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); 
 background-image: linear-gradient(top, #6e6e6e 0% ,#000000 100%);   
 opacity:0.7; 
 -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); 
 filter: alpha(opacity=90); 

}

input[type=radio]:checked+label{
    border: white solid 1px;
	opacity: 1.0;  
	color: #00FF50;
}

.button-text{
	background-color: rgba(0,0,0,0.7);
	opacity: 1.0;
	font: 14pt sans-serif;
	color: #c0c0c0;
	margin-top: 1px;
	text-shadow: 1px 0 black;
	text-align: center;
	position: relative;
	border: 1px solid rgba(255,255,255,0.6);
}
.button-text > img{
	position: absolute;
	left: 50px;
	right: 50px;
	top: 20px;
	margin: auto;
}
.button-text > label{
	position: absolute;
	bottom: 15px;
	left: 5px;
}


@media screen and (min-width:500px) {
	.FontMedium{
		font: 38px Verdana;
	}
}